body {
  margin: 0px;
  background-color: var(--bg-color);
  overflow: hidden;
}

:root {
  /* light-mode colors */
  --bg-color: #a2f9f7;
  --text-color: black;
  --border-color: black;
  --primary-color: #ff4600;
  --box-shadow: 4px -2px 40px 9px rgba(128, 128, 129, 0.625);
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
}

/* navbar */
.navbar-container {
  justify-content: space-between;
  padding: 16px 32px;
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow);
}

.logo-name {
  font-weight: bolder;
  font-size: 2rem;
  text-transform: uppercase;
}

.line {
  color: var(--primary-color);
  font-weight: bolder;
  font-size: 2rem;
}

.navbar-container ul {
  /* display: flex;
  gap: 18px;
  list-style-type: none; */

  @media (max-width: 760px) {
    display: none;
  }
}

.nav-items {
  display: flex;
  gap: 18px;
  list-style-type: none;

  @media (max-width: 760px) {
    display: none;
  }
}

.nav-items a {
  text-decoration: none;
  color: var(--text-color);
}

.nav-items a:hover {
  color: var(--primary-color);
}

/* hamburger-menu */
#hamburger-menu {
  display: none;
}

[for="hamburger-menu"] {
  display: none;
  @media (max-width: 760px) {
    display: block;
  }
}
.side-menu {
  display: none;
}
/* Mobile only css */

/* For side-bar-menu */

@media (max-width: 760px) {
  .side-menu {
    width: 250px;
    background-color: var(--bg-color);
    box-shadow: var(--box-shadow);
    border-radius: 12px;
    height: 250px;

    display: block;
    position: absolute;
    top: 5rem;
    left: 100vw;

    transition: left 0.5s;
  }

  .side-menu-items {
    list-style: none;
    flex-direction: column;
    align-items: start;
  }
  .side-menu-items a {
    text-decoration: none;
    color: var(--text-color);
  }

  .side-menu-items a:hover {
    color: var(--primary-color);
  }
  #hamburger-menu:checked + .side-menu {
    /* display: block; */
    left: calc(100vw - 250px);
  }

  /* #hamburger-menu:not(:checked) + .side-menu {
    display: none;
  } */
}
